/* main color for this variant: #993366 */

body {
  color: #993366;
  background-color: #FFFFFF;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 80%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

input, select, textarea, button {
	font-size: 100%;
}

.doNotDisplay {
  display: none !important;
}

/* ##### Header ##### */

#header {
  color: white;
  background-color: #993366; 
  margin: 0 0 2em 0;
  padding: 1em 2.5mm 1ex 4mm;
  border-bottom: 2px solid white;
}

.header-title {
  margin: 0;
  padding: 0;
}

.thisPage {
  font-weight: bold;
}


/* ##### Main Copy ##### */

#main-copy {
  color: black;
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0 5mm 0 10.5em;
  padding: 0 1em 1ex 1em;
}

p {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

.Box {
  color: black;
  background-color: transparent;
  margin: 0 0 1em 0;
  padding: 2ex 2em 0.25em 2em;
  border: 1px solid #993366;
}

#main-copy {
	margin: 0 0 0 12%;
}

#main-copy h1 {
  font-family: "trebuchet ms", verdana, tahoma, sans-serif;
  font-size: 156%;
  font-weight: bold;
  margin: 0.25em 0 0.25em 0;
  padding: 0;
}

#main-copy a {
  color: #993366;
  text-decoration: none;
}

#main-copy a:hover {
  color: red;
  text-decoration: none;
}

label {
    text-align: right;
    font-weight: bold;
}

legend {
    font-size: 120%;
    font-weight: bold;
}

select {
    background-color: white;
    /* background-color: #99CCFF; */
    color: black;
    border: 1px solid black;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

button {
	background-color: #993366;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

button:hover {
	background-color: #ffffff;
	color: #993366;
	font-weight: bold;
	padding: 5px;
}

input[type="submit"] {
	background-color: #993366;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

input[type="submit"]:hover {
	background-color: #ffffff;
	color: #993366;
	font-weight: bold;
	padding: 5px;
}

input[type="date"] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.textbox {
	width: 50%;
}


/* ##### Footer ##### */

#footer {
  color: white;
  background-color: #993366;
  font-size: 85%;
  margin: 0;
  padding: 1.25ex 4mm;
  clear: both;
}


.required {
	background: #FFFFCC;
}

table {
	border-collapse: collapse;
	/* border: 1px solid #000000; */
}

th {
	background-color: #993366;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
}

table a {
	font-weight: bold;
	text-decoration: none;
}

td {
	padding-left: 1em;
	padding-right: 1em;
}

.align-right {
	text-align: right;
}

.red {
	color: red;
}

.row0 {
	background-color: #FFFFFF;
}

.row1 {
	background-color: #CCCCCC;
}

/* lessening bot form fill-in */
.hidden {
	display: none;
	visibility: hidden;
}

.failure-message{
	/* border: 4px solid #F00; */
	background: yellow;
	font-size: 120%;
	line-height: 1.6em;
	color: red;
	padding-left: 10px;
	font-weight: bold;
	padding: 1em;
}

.success-message {
	background: blue;
	color: white;
	font-size: 120%;
	line-height: 1.6em;
	padding: 1em 0 1em 1em;
	font-weight: bold;
}

/* =============================== */

.nav-left {
	font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  width: 12%;
  float: left;
  clear: left;
}

.nav-left .navhead {
  color: #FFFFFF;
  background-color: #AA3366;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0.5ex 1em 0.5ex 0.5ex;
  border-top: 1px solid #993366;
}

.nav-left ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.nav-left li {
  margin: 0;
  /* padding: 1ex 1em 1ex 0.5ex; */
  padding: 1px 1px 1px 1px;
  border-top: 1px solid #993366;
}

.nav-left a {
  color: #FF0000;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5ex 0.5ex;
  display: block;
}

.nav-left a:hover {
  color: white;
  background-color: #AA3366;
  text-decoration: none;
}

