/* main color for this variant: #3366cc */

body {
	color: #3366cc;
	background-color: #FFFFFF;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 0.8em;  /* 80% Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

/* Chromium browsers shrinks fonts */
input, select, textarea, button {
	font-size: 100%;
}

.doNotDisplay {
	display: none !important;
}

/* ##### Header ##### */

#header-block {
	/*
	color: white;
	background-color: #3366cc;
	*/
	color: #3366cc;
	margin: 0 0 0 0; /* 3 2em */
	padding: 1em 2.5mm 1em 4mm;
	border-bottom: 5px solid #3366cc;
}

.header-title {
	margin: 0;
	padding: 0;
}

#left-block {
	width: 12%;
	float: left;
	margin: 1em 1em 0 0;
}

#main-block {
	color: black;
	line-height: 1.5em;
	font-size: 1.1em;
	/* margin: 0 5mm 0 10.5em; */
	padding: 1em 1em 1em 1em;
	margin: 0 0 0 12%;
	min-height: 25em;
	display: block;
}

#main-block h1 {
	font-family: "trebuchet ms", verdana, tahoma, sans-serif;
	font-size: 156%;
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

#main-block a {
	color: #3366cc;
	text-decoration: none;
}

#main-block a:hover {
	color: red;
	text-decoration: none;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}


.box {
	color: black;
	width: 50%;
	/* background-color: transparent; */
	/* margin: 0 0 1em 5em; */
	/* padding: 2em 2em 0 2em; */
	/* border: 1px solid #3366cc; */
}

label {
    text-align: right;
    font-weight: bold;
}

legend {
    font-size: 120%;
    font-weight: bold;
}

select {
    background-color: white;
    /* background-color: #99CCFF; */
    color: black;
    border: 1px solid black;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

button {
	/* background-color: #3366cc; */
	/* color: #ffffff; */
	color: #3366cc;
	font-weight: bold;
	padding: 5px 2px 5px 2px;
	border-radius: 10px;
}

button:hover {
	/* background-color: #ffffff; */
	/* color: #3366cc; */
	color: #993366;
	font-weight: bold;
	/* padding: 5px; */
}

input[type="submit"] {
	/* background-color: #3366cc; */
	/* color: #ffffff; */
	color: #3366cc;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
}

input[type="submit"]:hover {
	/* background-color: #ffffff; */
	color: #993366;
	font-weight: bold;
	padding: 5px;
}

input[type="date"] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

/* ##### Footer ##### */

.required {
	background: #FFFFCC;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #3366cc;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
}

table a {
	font-weight: bold;
	text-decoration: none;
}

td {
	padding-left: 1em;
	padding-right: 1em;
}

.align-right {
	text-align: right;
}

.red {
	color: red;
}

.row0 {
	background-color: #FFFFFF;
}

.row1 {
	background-color: #CCCCCC;
}

/* lessening bot form fill-in */
.hidden {
	display: none;
	visibility: hidden;
}

.failure-message{
	/* border: 4px solid #F00; */
	background-color: yellow;
	font-size: 120%;
	line-height: 1.6em;
	color: red;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	padding: 0.5em;
	display: block;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

.success-message {
	/* background: #3366cc; */
	/* color: white; */
	color: white;
	background-color: #3366cc;
	font-size: 120%;
	line-height: 1.6em;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

dt {
	font-weight: bold;
}

/* =============================== */

/* used earlier for menus */

#side-bar {
	font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  width: 12%;
  float: left;
  clear: left;
}

#side-bar .navhead {
  color: #FFFFFF;
  background-color: #AA3366;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0.5ex 1em 0.5ex 0.5ex;
  border-top: 1px solid #3366cc;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

#side-bar li {
  margin: 0;
  /* padding: 1ex 1em 1ex 0.5ex; */
  padding: 1px 1px 1px 1px;
  border-top: 1px solid #3366cc;
}

#side-bar a {
  color: #FF0000;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5ex 0.5ex;
  display: block;
}

#side-bar a:hover {
  color: white;
  background-color: #AA3366;
  text-decoration: none;
}

#footer {
  color: #3366cc;
  /* background-color: #3366cc; */
  font-size: 1em;
  margin-top: 2em;
  padding: 1.25em 1em;
  clear: both;
  border-top: 5px solid #3366cc;
}

