<style>
/* 
	This code is a modification of example code from w3schools.com:
	https://www.w3schools.com/howto/howto_js_accordion.asp . (Why are
	they still using ASP?)
*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	/* background-color: #6699cc; */
	background-color: white;
	/* color: #FFF; */
	color: #6699cc;
	cursor: pointer;
	/* padding: 5px; /* 18px */ */
	display: block;
	width: 100%;
	/* width: auto; // buttons unstack */
	text-align: right;
	border: none;
	outline: none;
	font-size: 1.3em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	/* background-color: #6699cc; */
	background-color: white;
	/* color: white; */
}

/* Style the accordion panel. Note: hidden by default */ 
.menu-category {
	padding: 0 10px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.menu-category ul li {
	list-style-type: none;
	text-align: right;
}

.menu-category ul li a {
	text-decoration: none;
	font-size: 1.3em;
}

.menu-category ul li a:hover {
	color: blue;
}

</style>


<button class="accordion">Slowen</button>
<div class="menu-category">
	<ul>
		<li><a href="entity.php">Change Entity</a></li>
		<li><a href="bugs.php">Bug/Feature Report</a></li>
	</ul>

</div>

<button class="accordion">Accounts</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="register.php">Register</a>
		</li>
		<li>
				<a href="reconcile.php">Reconcile</a>
		</li>
		<li>
				<a href="acctadd.php">Add</a>
		</li>
		<li>
				<a href="acctdel.php">Delete</a>
		</li>
		<li>
				<a href="acctedt.php">Edit</a>
		</li>
	</ul>

</div>

<button class="accordion">Payees</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="payadd.php">Add</a>
		</li>
		<li>
				<a href="paydel.php">Delete</a>
		</li>
		<li>
				<a href="payedt.php">Edit</a>
		</li>
	</ul>
</div>

<button class="accordion">Transactions</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="chkadd.php">Check</a>
		</li>
		<li>
				<a href="depadd.php">Deposit</a>
		</li>
		<li>
				<a href="ccardadd.php">Credit Card</a>
		</li>
		<li>
				<a href="xferadd.php">Transfer</a>
		</li>
		<li>
				<a href="othadd.php">Other/Split</a>
		</li>
	</ul>
</div>

<button class="accordion">Search</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="srchaccts.php">Categories</a>
		</li>
		<li>
				<a href="srchpays.php">Payees</a>
		</li>
	</ul>
</div>

<button class="accordion">Reports</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="balances.php">Balances</a>
		</li>
		<li>
				<a href="expenses.php">Expenses</a>
		</li>
		<li>
				<a href="auditm.php">Monthly Audit</a>
		</li>
		<li>
				<a href="audity.php">Yearly Audit</a>
		</li>
	</ul>
</div>

<button class="accordion">Help</button>
<div class="menu-category">
	<ul>
		<li>
				<a href="index.php">Introduction</a>
		</li>
		<li>
				<a href="history.php">History</a>
		</li>
	</ul>
</div>

<script type="text/javascript">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
	acc[i].addEventListener("click", function() {
		/* Toggle between adding and removing the "active" class,
		  to highlight the button that controls the panel */
		this.classList.toggle("active");

		/* Toggle between hiding and showing the active panel */
		var panel = this.nextElementSibling;
		if (panel.style.display === "block") {
			panel.style.display = "none";
		} 
		else {
			panel.style.display = "block";
		}
	});
}
</script>
