programmer_email = paulf@quillandmouse.com
charset = us-ascii
language = en_us
to = paulf@quillandmouse.com
dbdriv = SQLite3
app_nick = slowen
app_name = Slowen
incdir = "includes/"
modeldir = "models/"
libdir = "libraries/"
grottodir = "grotto/"
viewdir = "views/"
printdir = "printq/"
imgdir = "images/"
confirm_transactions = 0
datadir = "data/"
