@import "colors.css";

body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 0.8em;  /* 80% Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

.textbox {
    width: 50%
}

.container {
	display: grid;
	/* grid-template-columns: 12% repeat(7, 1fr); */
	/* grid-template-rows: 3; */
    grid-template-rows: 4;
	grid-gap: 1em;
}

/* Chromium browsers shrinks fonts */
input, select, textarea, button {
	font-size: 100%;
}



/* header */

#header {
	color: var(--header-fg);
	padding: 1em 2.5mm 0em 4mm;
    font-style: italic;
    font-weight: bold;
	/* border-bottom: 5px solid var(--header-fg); */
	/* grid-column: 1 / 9; */
	grid-row: 1;
}

.header-title {
	margin: 0;
	padding: 0;
}

.app-name {
	color: var(--app-name);
}

#content {
	color: black;
	line-height: 1.5em;
	font-size: 1.1em;
	padding: 1em 1em 1em 1em;
	/* grid-column: 2 / 9; */
	/* grid-row: 2; */
	grid-row: 3;
}

#content h1 {
	font-family: "trebuchet ms", verdana, tahoma, sans-serif;
	font-size: 156%;
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

#content a {
	color: var(--link-fg);
	text-decoration: none;
}

#content a:hover {
	color: var(--link-hover-fg);
	text-decoration: none;
}

p {
	margin: 1em 0 1.5em 0;
	padding: 0;
}


.box {
	color: black;
	width: 50%;
}

.tdlabel {
    text-align: right;
    font-weight: bold;
}

label {
    font-weight: bold;
}

legend {
    font-size: 120%;
    font-weight: bold;
}

select {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    cursor: pointer;
}

button {
	color: var(--button-fg);
	font-weight: bold;
	padding: 5px 2px 5px 2px;
	border-radius: 5px;
}

button:hover {
	color: var(--button-hover-fg);
	font-weight: bold;
}

input[type="checkbox"] {
	height: 1em;
	width: 1em;
}

input[type="submit"] {
	color: var(--button-fg);
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}

input[type="submit"]:hover {
	color: var(--button-hover-fg);
	font-weight: bold;
	padding: 5px;
}

input[type="date"] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.required {
	background: #FFFFCC;
}

.red {
	color: red;
}

.failure-message{
	/* border: 4px solid #F00; */
	background-color: var(--failure-bg);
	font-size: 120%;
	line-height: 1.6em;
	color: var(--failure-fg);;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	padding: 0.5em;
	display: block;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

.success-message {
	/* background: #3366cc; */
	/* color: white; */
	color: var(--success-fg);
	background-color: var(--success-bg);
	font-size: 120%;
	line-height: 1.6em;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	max-width : 500px;
    word-wrap: break-word;
	border-bottom: 1px solid white;
}

dt {
	font-weight: bold;
}

#footer {
  color: var(--header-fg);
  font-size: 1.2em;
  margin-top: 2em;
  padding: 1em 1em;
  /* border-top: 5px solid var(--header-fg); */
  /* grid-column: 1 / 9; */
  /* grid-row: 3; */
  grid-row: 4;
}

/* table stuff */

table {
	border-collapse: collapse;
}

table a {
	font-weight: bold;
	text-decoration: none;
}

th {
	background-color: var(--th-bg);
	color: var(--th-fg);
	padding-left: 1em;
	padding-right: 1em;
}

td {
	padding-left: 1em;
	padding-right: 1em;
}

.border-rules, .border-rules th, .border-rules td {
	border: 1px solid black;
	border-collapse: collapse;
}

/*
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

form table, form th, form td {
	border: none;
	border-collapse: none;
}
*/

.align-right {
	text-align: right;
}

.row0 {
	background-color: #FFFFFF;
}

.row1 {
	background-color: #CCCCCC;
}

/* menu */

#left-nav {
	text-align: right;
	font-size: 1.3em;
	background-color: var(--menu-bg);
	grid-column: 1;
	grid-row: 2;
}

.accordion input {
	display: none;
}



#left-nav input[type="checkbox"] {
	display: none;
}

#left-nav label {
	display: block;    
	padding: 8px 22px;
	margin: 0 0 1px 0;
	cursor: pointer;
	background: var(--menu-label-bg);
	color: var(--menu-label-fg);
    font-weight: bold;
}

#left-nav label:hover {
	background: var(--menu-label-hover-bg);
	color: var(--menu-label-hover-fg);
}

.menu-items {
	background: var(--menu-item-bg);
	text-align: right;
}

.menu-items ul {
	list-style-type: none;
	list-style-position: outside;
	padding: 0 1em 0 0;
}

.menu-items a {
	color: var(--menu-item-fg);
	background-color: var(--menu-item-bg);
    padding: 0.25em 1em 0.25em 0;
	text-decoration: none;
	display: block;
}

.menu-items a:hover {
	color: var(--menu-item-hover-fg);
	background-color: var(--menu-item-hover-bg);
}

.accordion input[type="checkbox"] + label + .menu-items {
	display: none;
}

.accordion input:checked + label + .menu-items {
	display: block;
}

#top-nav {
    font-family: sans-serif;
	/* border-bottom: 5px solid var(--header-fg);
	border-top: 5px solid var(--header-fg); */
    clear: right;
    float: left;
    width: 100%;
    grid-row: 2;
    font-weight: bold;
    font-size: 120%;
}

#top-nav a {
    text-decoration: none;
}

#top-nav ul {
    /* background: var(--menu-bg); */
    color: var(--menu-fg);
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#top-nav li {
    color: #fff;
    background: var(--menu-item-bg);
    color: var(--menu-item-fg);
    display: block;
    float: left;
    padding: 0.6rem;
    position: relative;
    text-decoration: none;
}
  
#top-nav li a {
    color: #fff;
}

#top-nav li:hover {
    background: var(--menu-item-hover-bg);
    color: var(--menu-item-hover-fg);
    cursor: pointer;
}

#top-nav ul li ul {
    background: var(--menu-bg);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    margin-top: 0.6rem;
    left: 0;
    display: none;
}

#top-nav ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#top-nav ul li ul li {
    clear: both;
    width: 100%;
}


